<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="8.3" name="TDE-Remix" displayname="TDE 14.1.x Remix">
	<description type="system">
		<author>Massimiliano Bugni</author>
		<contact>massi.ergosum@gmail.com</contact>
		<specification>TDE Remix</specification>
	</description>
	<preferences>
		<release-version>12</release-version>
		<version>12.9.0</version>
		<packagemanager>apt</packagemanager>
		<rpm-check-signatures>false</rpm-check-signatures>
		<locale>en_US</locale>
		<keytable>us</keytable>
		<timezone>UTC</timezone>
	</preferences>
	<include from="this://./repositories/debian-trinity.xml"/>
	<include from="this://./components/boot.xml"/>
	<include from="this://./components/common.xml"/>
	<include from="this://./components/livesystem.xml"/>
	<include from="this://./platforms/console.xml"/>
	<include from="this://./platforms/desktop.xml"/>
	<include from="this://./platforms/workstation.xml"/>
	<packages type="bootstrap">
		<!-- Base system -->
		<package name="base-files"/>
		<package name="ca-certificates"/>
		<package name="linux-base"/>
		<package name="locales"/>
		<package name="tzdata"/>
		<package name="usrmerge"/>
		<!-- Initial setup tools -->
		<package name="apt-utils"/>
		<package name="debconf-i18n"/>
		<package name="tasksel"/>
		<package name="whiptail"/>
	</packages>
</image>